button {

	&.primary {
		background-color: var(--secondary);
		color: var(--background);

		&:hover {
			background-color: var(--secondary-bright);
		}
	}

	&.secondary {
		background-color: transparent;
		border: 1px solid var(--primary-dark);
		color: var(--primary);

		&:hover {
			color: var(--primary-bright);
			background-color: var(--primary-dark);
		}
	}
}
.whatsapp-button {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    display: flex;
    align-items: center;
}

.whatsapp-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
